.container {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}
.back {
  width: 30px;
  border: 1px solid var(--bg-secondary);
  box-shadow: 0px 2px 3px -2px var(--shadow);
  -webkit-box-shadow: 0px 2px 3px -2px var(--shadow);
  -moz-box-shadow: 0px 2px 3px -2px var(--shadow);
  padding: 0.5rem 2rem;
  color: var(--color-primary);
  text-decoration: none;
  background-color: var(--bg-primary);
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow img {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}
.text,
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}
