.container {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}
.back {
  border: 1px solid var(--bg-secondary);
  box-shadow: 0px 2px 3px -2px var(--shadow);
  -webkit-box-shadow: 0px 2px 3px -2px var(--shadow);
  -moz-box-shadow: 0px 2px 3px -2px var(--shadow);
  padding: 0.5rem 2rem;
  color: var(--color-primary);
  text-decoration: none;
  background-color: var(--bg-primary);
  margin: 2rem 0 3rem 0;
  display: inline-block;
}
