.region {
  width: 50%;
  position: relative;
  font-size: 0.8rem;
  /* margin: 0 1rem; */
  margin-bottom: 1rem;
  color: var(--color-primary);
}
.select {
  display: flex;
  background-color: var(--bg-primary);
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 6px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px -2px var(--shadow);
  -webkit-box-shadow: 0px 2px 3px -2px var(--shadow);
  -moz-box-shadow: 0px 2px 3px -2px var(--shadow);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon img {
  width: 0.8rem;
  height: 0.8rem;
}

.options {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: var(--bg-primary);
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 2px 3px -2px var(--shadow);
  -webkit-box-shadow: 0px 2px 3px -2px var(--shadow);
  -moz-box-shadow: 0px 2px 3px -2px var(--shadow);
}

.options option {
  cursor: pointer;
  padding: 0;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.options option:hover {
  background-color: var(--light-bg);
}
@media (min-width: 768px) {
  .region {
    width: 25%;
  }
  .select {
    margin-bottom: 0;
  }
  .options {
    margin-top: 6px;
  }
}
