.dark {
  --bg-primary: hsl(209, 23%, 22%);
  --bg-secondary: hsl(207, 26%, 17%);
  --color-primary: white;
  --color-secondary: hsl(0, 0%, 98%);
  --shadow: hsl(207, 26%, 17%);
}
.light {
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 98%);
  --color-primary: hsl(207, 26%, 17%);
  --color-seconday: hsl(209, 23%, 22%);
  --shadow: hsl(0, 0%, 52%);
}

.App {
  width: 320px;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

.head {
  display: flex;
  color: var(--color-primary);

  background-color: var(--bg-primary);
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 0px 2px 3px -2px var(--shadow);
  -webkit-box-shadow: 0px 2px 3px -2px var(--shadow);
  -moz-box-shadow: 0px 2px 3px -2px var(--shadow);
}
.head h1 {
  font-size: 1rem;
  margin: 0;
}
.head img {
  height: 0.9rem;
  width: 0.9rem;
  transform: rotateZ(-25deg);
  margin-right: 0.5rem;
}

.mainContent {
  padding: 1rem;
  background-color: var(--bg-secondary);
}

.content {
  padding: 1rem;
}
.switcher {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .App {
    width: 100%;
    margin: 0 auto;
  }
  .head {
    /* padding: 2rem 5rem; */
    margin: 0 auto;
    /* padding: 2rem 5rem; */
    width: 90%;
  }
  .head h1 {
    margin-left: 1rem;
  }
  .switcher {
    margin-right: 1rem;
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .finder {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}
